<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">


            <li>
                <a href="/Default/Index/" aria-expanded="false">
                    <i class="icon-plane menu-icon"></i><span class="nav-text"> Go To Website</span>
                </a>
            </li>
            
            <li>
                <a href="/Dashboard/Index/" aria-expanded="false">
                    <i class="icon-magic-wand menu-icon"></i><span class="nav-text"> Dashboard</span>
                </a>
            </li>

            <li>
                <a href="/Staffs/Index/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Staffs</span>
                </a>
            </li>

            <li>
                <a href="/Testimonial/Index/" aria-expanded="false">
                    <i class="icon-lock menu-icon"></i><span class="nav-text">Testimonials</span>
                </a>
            </li>

            <li>
                <a href="/Service/Index/" aria-expanded="false">
                    <i class="icon-clock menu-icon"></i><span class="nav-text">Services</span>
                </a>
            </li>

             <li>
                <a href="/AdminAbout/Index/" aria-expanded="false">
                    <i class="icon-info menu-icon"></i><span class="nav-text">About Us</span>
                </a>
            </li>

            <li>
                <a href="/AdminRoom/Index/" aria-expanded="false">
                    <i class="icon-home menu-icon"></i><span class="nav-text">Rooms</span>
                </a>
            </li>

             <li>
                <a href="/Guest/Index/" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">Guests</span>
                </a>
            </li>

            <li>
                <a href="/AdminContact/Inbox/" aria-expanded="false">
                    <i class="icon-envelop menu-icon"></i><span class="nav-text">Messages</span>
                </a>
            </li>

            <li>
                <a href="/AdminMail/Index/" aria-expanded="false">
                    <i class="icon-paper-clip menu-icon"></i><span class="nav-text">Mail Transactions </span>
                </a>
            </li>

            <li>
                <a href="/AdminImageFile/Index/" aria-expanded="false">
                    <i class="icon-energy menu-icon"></i><span class="nav-text"> Image</span>
                </a>
            </li>


            <li>
                <a href="/AdminFile/Index/" aria-expanded="false">
                    <i class="icon-film menu-icon"></i><span class="nav-text"> File</span>
                </a>
            </li>

            <li>
                <a href="/AdminUsers/Index/" aria-expanded="false">
                    <i class="icon-user-follow menu-icon"></i><span class="nav-text"> Admin Users</span>
                </a>
            </li>

            <li>
                <a href="/WorkLocation/Index/" aria-expanded="false">
                    <i class="icon-puzzle menu-icon"></i><span class="nav-text"> Hotel Work Locations</span>
                </a>
            </li>


            <li>
                <a href="/WorkLocation/Index/" aria-expanded="false">
                    <i class="icon-game-controller menu-icon"></i><span class="nav-text"> Roles</span>
                </a>
            </li>


            <li>
                <a href="/WorkLocation/Index/" aria-expanded="false">
                    <i class="icon-settings menu-icon"></i><span class="nav-text"> Settings</span>
                </a>
            </li>


            <li>
                <a href="/WorkLocation/Index/" aria-expanded="false">
                    <i class="icon-close menu-icon"></i><span class="nav-text"> Log Out</span>
                </a>
            </li>

        </ul>
    </div>
</div>