@model List<BookingApiViewModel.Result>

@{
    Layout = null;
    int count = 0;
}
<div class="container">
    <br /><br />
    @using (Html.BeginForm("Index", "BookingByCity", FormMethod.Post))
    {
        <label>Please enter city ID</label>
        <input type="text" class="form-control" name="cityId" />
        <br />
        <button class="btn btn-primary">List Hotel For City</button>
    }

    <br />

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Hotel Name</th>
            <th>Hotel Scor</th>
            <th>Hotel Details</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <th>@count</th>
                <td>@item.name</td>
                <td>@item.reviewScore</td>
                <td><a href="#" class="btn btn-outline-dark">Details</a></td>
            </tr>
        }
    </table>
</div>