@model List<ResultAboutDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayouts.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Title 1</th>
        <th>Title 2</th>
        <th>Update</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.AboutId</th>
            <td>@item.Title1</td>
            <td>@item.Title2</td>
            <td><a href="/AdminAbout/UpdateAbout/@item.AboutId" class="btn mb-1 btn-rounded btn-outline-danger">Update</a> </td>
        </tr>
    }
</table>


