@model List<HotelProjectEntityLayer.Concrete.AppRole>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayouts.cshtml";
}

<h1>Role List</h1>

<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Role Name</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var item in Model)
    {
            <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td><a href="/Role/DeleteRole/@item.Id" class="btn mb-1 btn-rounded btn-outline-danger">Delete</a> </td>
            <td><a href="/Role/UpdateRole/@item.Id" class="btn mb-1 btn-rounded btn-outline-success">Update</a> </td>
            </tr>
    }
</table>

<a href="/Role/AddRole/" class="btn btn-info">Add New Role</a>


