@model List<StaffViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayouts.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Employee Name</th>
        <th>Employee Title</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.StaffId</th>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td><a href="DeleteStaff/@item.StaffId" class="btn mb-1 btn-rounded btn-outline-danger">Delete</a> </td>
            <td><a href="UpdateStaff/@item.StaffId" class="btn mb-1 btn-rounded btn-outline-success">Update</a> </td>
            <td><a href="#" class="btn mb-1 btn-rounded btn-outline-dark">Details</a> </td>
        </tr>
    }
</table>

<a href="/Staffs/AddStaff/" class="btn btn-info">Add New Employee</a>

