@model Hotelroject.WebUI.Dtos.BookingDto.UpdateBookingDto
@{
    ViewData["Title"] = "UpdateBooking";
    Layout = "~/Views/AdminLayout/_AdminLayouts.cshtml";
}

<h1>Update Booking</h1>


<form method="post">
    <input type="hidden" asp-for="BookingId" />
    <label> Guest Name </label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label> Guest Mail</label>
    <input type="email" asp-for="Mail" class="form-control" />
    <br />
    <label> Guest Check In Date</label>
    <input type="date" asp-for="CheckIn" class="form-control" />
    <br />
    <label> Guest Check Out Date</label>
    <input type="date" asp-for="CheckOut" class="form-control" />
    <br />
    <label> Adult Count</label>
    <input type="text" asp-for="AdultCount" class="form-control" />
    <br />
    <label> Child Count</label>
    <input type="text" asp-for="ChildCount" class="form-control" />
    <br />
    <label> Room Count</label>
    <input type="text" asp-for="RoomCount" class="form-control" />
    <br />
    <label> Status</label>
    <input type="text" asp-for="Status" class="form-control" />
    <br />
    <label> Description</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />

    <button class="btn btn-primary">Update Reservation</button>
</form>
